[[source]]
url = "https://mirror.nju.edu.cn/pypi/web/simple"
verify_ssl = true
name = "pip_conf_index_global"

[packages]
learn2learn = "==0.2.0"
cherry-rl = "==0.2.0"
free-mujoco-py = "*"
tensorboard = "*"
gym = "==0.14.0"

[dev-packages]
mypy = "*"
autopep8 = "*"
ipykernel = "*"

[requires]
python_version = "3.8"
